In [4]:
import pandas as pd
import numpy as np

#reading the CSV file containing solar energy data into a pandas DataFrame
df=pd.read_csv('/Users/ad0507/Downloads/VAD Project/Dataset Uncleaned/Solar Energy.csv')

#displaying the first 5 rows of the DataFrame to preview the data
df.head()

/var/folders/k7/lb_86v_x1_gfg1v69zm05hb80000gn/T/ipykernel_11937/1501029806.py:4: DtypeWarning: Columns (1,3,4,8) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('/Users/ad0507/Downloads/Solar Energy/Solar Energy.csv')

,Reporting Period,Project Number,Legacy Project Number,CESIR Number,Street Address,City,County,State,ZIP Code,Incorporated Municipality,...,Canopy Adder,Prevailing Wage Adder,Total Nameplate kW DC,Expected KWh Annual Production,Remote Net Metering,Community Distributed Generation,Green Jobs Green New York Participant,Latitude,Longitude,Georeference
0,10/31/2024,0000830394,NaN,NaN,NaN,Schenectady,Schenectady,NY,12309,NaN,...,0.0,0.0,5.46,4933.0,NaN,No,No,NaN,NaN,NaN
1,10/31/2024,0000761568,NaN,NaN,NaN,Brooklyn,Kings,NY,11212,New York,...,0.0,0.0,11.00,13898.0,NaN,No,No,40.653941,-73.918085,POINT (-73.9180852 40.6539409)
2,10/31/2024,0000274642,NaN,NaN,NaN,Port Washington,Nassau,NY,11050,North Hempstead,...,0.0,0.0,0.00,0.0,NaN,No,No,40.824011,-73.703295,POINT (-73.7032951 40.8240114)
3,10/31/2024,0000653576,NaN,NaN,NaN,Williston Park,Nassau,NY,11596,North Hempstead,...,0.0,0.0,0.00,0.0,NaN,No,No,40.759312,-73.649842,POINT (-73.6498418 40.7593117)
4,10/31/2024,2013-542628-Sola,NaN,NaN,NaN,Elmont,Nassau,NY,11003,Hempstead,...,0.0,0.0,4.00,4695.0,NaN,No,No,40.712363,-73.709371,POINT (-73.7093711 40.7123634)

In [5]:
#check for nulls and also the columns we have
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 174306 entries, 0 to 174305
Data columns (total 48 columns):
 #   Column                                              Non-Null Count   Dtype
---  ------                                              --------------   -----
 0   Reporting Period                                    174306 non-null  object
 1   Project Number                                      174306 non-null  object
 2   Legacy Project Number                               55290 non-null   object
 3   CESIR Number                                        1807 non-null    object
 4   Street Address                                      10422 non-null   object
 5   City                                                174306 non-null  object
 6   County                                              174305 non-null  object
 7   State                                               174306 non-null  object
 8   ZIP Code                                            174306 non-null  object
 9   Incorporated Municipality                           173565 non-null  object
 10  Municipality Type                                   173565 non-null  object
 11  Census Tract                                        168939 non-null  float64
 12  NYS Disadvantaged Community Status                  168939 non-null  object
 13  Climate and Economic Justice Screening Tool Status  168939 non-null  object
 14  Sector                                              174306 non-null  object
 15  Program Type                                        174306 non-null  object
 16  Solicitation                                        174306 non-null  object
 17  Electric Utility                                    174262 non-null  object
 18  Purchase Type                                       168817 non-null  object
 19  Date Application Received                           174306 non-null  object
 20  Date Completed                                      166422 non-null  object
 21  Project Status                                      174306 non-null  object
 22  Contractor                                          163315 non-null  object
 23  Minority or Women Owned Business Enterprise (MWBE)  174306 non-null  object
 24  Primary Inverter Manufacturer                       170060 non-null  object
 25  Primary Inverter Model Number                       161210 non-null  object
 26  Total Inverter Quantity                             174190 non-null  float64
 27  Primary PV Module Manufacturer                      170104 non-null  object
 28  PV Module Model Number                              161176 non-null  object
 29  Total PV Module Quantity                            174183 non-null  float64
 30  Project Cost                                        174306 non-null  float64
 31  Total NYSERDA Incentive                             174234 non-null  float64
 32  Affordable Solar Residential Adder                  174306 non-null  float64
 33  Affordable Multifamily Housing Incentive            174306 non-null  float64
 34  Community Adder                                     174306 non-null  float64
 35  Inclusive Community Solar Adder                     174306 non-null  float64
 36  Expanded Solar For All Adder                        174306 non-null  float64
 37  Brownfield/Landfill Adder                           174306 non-null  float64
 38  Canopy Adder                                        174306 non-null  float64
 39  Prevailing Wage Adder                               174306 non-null  float64
 40  Total Nameplate kW DC                               174306 non-null  float64
 41  Expected KWh Annual Production                      174241 non-null  float64
 42  Remote Net Metering                                 44964 non-null   object
 43  Community Distributed Generation                    174306 non-null  object
 44  Green Jobs Green New York Participant               174306 non-null  object
 45  Latitude                                            173555 non-null  float64
 46  Longitude                                           173555 non-null  float64
 47  Georeference                                        173555 non-null  object
dtypes: float64(17), object(31)
memory usage: 63.8+ MB

In [7]:
#define a threshold for dropping columns (e.g., drop columns with more than 50% null values)
threshold = 0.5
columns_to_keep = df.columns[df.isnull().mean() <= threshold]

#drop columns with more than 50% null values
filtered_data = df[columns_to_keep]

#check the shape of the dataset after dropping columns
filtered_data_shape = filtered_data.shape

#display the dataset
filtered_data_shape

(174306, 44)

In [9]:
filtered_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 174306 entries, 0 to 174305
Data columns (total 44 columns):
 #   Column                                              Non-Null Count   Dtype
---  ------                                              --------------   -----
 0   Reporting Period                                    174306 non-null  object
 1   Project Number                                      174306 non-null  object
 2   City                                                174306 non-null  object
 3   County                                              174305 non-null  object
 4   State                                               174306 non-null  object
 5   ZIP Code                                            174306 non-null  object
 6   Incorporated Municipality                           173565 non-null  object
 7   Municipality Type                                   173565 non-null  object
 8   Census Tract                                        168939 non-null  float64
 9   NYS Disadvantaged Community Status                  168939 non-null  object
 10  Climate and Economic Justice Screening Tool Status  168939 non-null  object
 11  Sector                                              174306 non-null  object
 12  Program Type                                        174306 non-null  object
 13  Solicitation                                        174306 non-null  object
 14  Electric Utility                                    174262 non-null  object
 15  Purchase Type                                       168817 non-null  object
 16  Date Application Received                           174306 non-null  object
 17  Date Completed                                      166422 non-null  object
 18  Project Status                                      174306 non-null  object
 19  Contractor                                          163315 non-null  object
 20  Minority or Women Owned Business Enterprise (MWBE)  174306 non-null  object
 21  Primary Inverter Manufacturer                       170060 non-null  object
 22  Primary Inverter Model Number                       161210 non-null  object
 23  Total Inverter Quantity                             174190 non-null  float64
 24  Primary PV Module Manufacturer                      170104 non-null  object
 25  PV Module Model Number                              161176 non-null  object
 26  Total PV Module Quantity                            174183 non-null  float64
 27  Project Cost                                        174306 non-null  float64
 28  Total NYSERDA Incentive                             174234 non-null  float64
 29  Affordable Solar Residential Adder                  174306 non-null  float64
 30  Affordable Multifamily Housing Incentive            174306 non-null  float64
 31  Community Adder                                     174306 non-null  float64
 32  Inclusive Community Solar Adder                     174306 non-null  float64
 33  Expanded Solar For All Adder                        174306 non-null  float64
 34  Brownfield/Landfill Adder                           174306 non-null  float64
 35  Canopy Adder                                        174306 non-null  float64
 36  Prevailing Wage Adder                               174306 non-null  float64
 37  Total Nameplate kW DC                               174306 non-null  float64
 38  Expected KWh Annual Production                      174241 non-null  float64
 39  Community Distributed Generation                    174306 non-null  object
 40  Green Jobs Green New York Participant               174306 non-null  object
 41  Latitude                                            173555 non-null  float64
 42  Longitude                                           173555 non-null  float64
 43  Georeference                                        173555 non-null  object
dtypes: float64(17), object(27)
memory usage: 58.5+ MB

In [11]:
#check the statistics for the columns
filtered_data.describe()

,Census Tract,Total Inverter Quantity,Total PV Module Quantity,Project Cost,Total NYSERDA Incentive,Affordable Solar Residential Adder,Affordable Multifamily Housing Incentive,Community Adder,Inclusive Community Solar Adder,Expanded Solar For All Adder,Brownfield/Landfill Adder,Canopy Adder,Prevailing Wage Adder,Total Nameplate kW DC,Expected KWh Annual Production,Latitude,Longitude
count,1.689390e+05,174190.000000,174183.000000,1.743060e+05,1.742340e+05,174306.000000,174306.000000,1.743060e+05,174306.000000,174306.000000,1.743060e+05,1.743060e+05,1.743060e+05,174306.000000,1.742410e+05,173555.000000,173555.000000
mean,3.607320e+10,10.768787,110.435387,9.364214e+04,1.626659e+04,97.161274,127.669333,1.863873e+03,153.468491,44.361204,2.303461e+02,8.911907e+01,7.028315e+02,46.698009,5.767280e+04,41.384972,-74.186139
std,3.195095e+07,21.520673,989.748549,6.236872e+05,1.299988e+05,696.869863,3294.011973,4.024664e+04,7139.376338,4934.748939,1.379079e+04,7.909684e+03,2.359570e+04,445.780166,5.808819e+05,0.913199,1.226181
min,3.600100e+10,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,40.499471,-79.727435
25%,3.605501e+10,1.000000,16.000000,2.172000e+04,1.296000e+03,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,5.110000,5.506000e+03,40.696199,-74.131882
50%,3.608105e+10,2.000000,23.000000,3.131000e+04,2.442000e+03,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,7.250000,7.783000e+03,40.916744,-73.869296
75%,3.610311e+10,18.000000,32.000000,4.459000e+04,5.037000e+03,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,10.230000,1.101300e+04,41.873887,-73.719637
max,3.612315e+10,6067.000000,29160.000000,2.646278e+07,6.125000e+06,15000.000000,325080.000000,2.820480e+06,750750.000000,787223.000000,1.125000e+06,1.641255e+06,1.358000e+06,9111.960000,1.195612e+07,44.988667,-71.908679

In [13]:
#save the merged dataframe to a CSV file for Tableau
merged_output_path = "/Users/ad0507/Downloads/Solar Energy/Solar_Energy_Cleaned.csv"
filtered_data.to_csv(merged_output_path, index=False)